#include <windows.h>
#include <commctrl.h>
#include <richedit.h>

#include "resource.h"
#include "rconfig.h"
#include "app.h"

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

//
// Accelerator resources
//
IDA_MAIN ACCELERATORS
{
	VK_F1, IDM_ABOUT, VIRTKEY
	VK_F2, IDM_SETTINGS, VIRTKEY
	"A", IDM_SELECT_ALL, CONTROL, VIRTKEY, NOINVERT
	"E", IDM_EXPLORE, CONTROL, VIRTKEY, NOINVERT
	"C", IDM_COPY, CONTROL, VIRTKEY, NOINVERT
	"X", IDM_CLEAR, CONTROL, VIRTKEY, NOINVERT
}

//
// Menu resources
//
IDM_MAIN MENU
{
	POPUP " "
	{
		MENUITEM " ", IDM_SETTINGS
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_EXIT
	}
	POPUP " "
	{
		MENUITEM " ", IDM_CLEAR
	}
	POPUP " "
	{
		MENUITEM " ", IDM_ALWAYSONTOP_CHK
		MENUITEM " ", IDM_STARTMINIMIZED_CHK
		MENUITEM " ", IDM_USEDARKTHEME_CHK
		MENUITEM " ", IDM_SHOWTRAYPOPUP_CHK
		MENUITEM " ", IDM_ENABLEHIGHLIGHTING_CHK
		MENUITEM " ", IDM_CHECKUPDATES_CHK
		MENUITEM SEPARATOR
		POPUP " "
		{
			MENUITEM " ", IDX_LANGUAGE
		}
	}
	POPUP " "
	{
		MENUITEM " ", IDM_WEBSITE
		MENUITEM " ", IDM_CHECKUPDATES
		MENUITEM " ", IDM_ABOUT
	}
}

IDM_TRAY MENU
{
	POPUP ""
	{
		MENUITEM " ", IDM_TRAY_SHOW
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_TRAY_SETTINGS
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_TRAY_WEBSITE
		MENUITEM " ", IDM_TRAY_ABOUT
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_TRAY_EXIT
	}
}

IDM_LISTVIEW MENU
{
	POPUP ""
	{
		MENUITEM " ", IDM_EXPLORE
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_EXCLUDE
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_CLEAR
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_COPY
		MENUITEM " ", IDM_COPY_VALUE
	}
}

IDM_CONFIG MENU
{
	POPUP ""
	{
		MENUITEM " ", IDM_ADD
		MENUITEM " ", IDM_DELETE
	}
}

//
// Dialog resources
//
IDD_MAIN DIALOGEX 0, 0, 506, 174
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_OVERLAPPEDWINDOW | WS_CLIPCHILDREN | NOT WS_VISIBLE
CAPTION APP_NAME
MENU IDM_MAIN
FONT 8, "Ms Shell Dlg"
{
	CONTROL			"", IDC_LISTVIEW, WC_LISTVIEW, WS_CHILD | WS_VISIBLE | WS_TABSTOP | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_SHAREIMAGELISTS | LVS_AUTOARRANGE, 0, 0, 506, 158

	CONTROL			"", IDC_STATUSBAR, STATUSCLASSNAME, 0, 0, 0, 0, 0
}

IDD_SETTINGS_EXCLUDE DIALOGEX 0, 0, 294, 148
STYLE WS_CHILD | WS_SYSMENU | WS_TABSTOP | WS_GROUP | DS_SHELLFONT | DS_CONTROL
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
{
	CONTROL			"", IDC_EXCLUDE, WC_LISTVIEW, WS_TABSTOP | WS_VSCROLL | NOT WS_BORDER | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_SHAREIMAGELISTS, 0, 0, 292, 136
}

//
// String resources
//
STRINGTABLE
{
	IDS_FILE "File"
	IDS_EXIT "Exit"
	IDS_VIEW "View"
	IDS_CLEAR "Clear"
	IDS_SETTINGS "Settings"
	IDS_LANGUAGE "Language"
	IDS_HELP "Help"
	IDS_WEBSITE "Website"
	IDS_CHECKUPDATES "Check for updates"
	IDS_ABOUT "About"
	IDS_DONATE "Give thanks!"

	IDS_TRAY_SHOW "Show/Hide"

	IDS_ADD "Add"
	IDS_DELETE "Delete"
	IDS_EXPLORE "Open containing folder"
	IDS_EXCLUDE "Exclude"
	IDS_COPY "Copy"
	IDS_COPY_VALUE "Copy value"

	IDS_INDEX "#"
	IDS_TIME "Time"
	IDS_PID "PID"
	IDS_PROCESS "Process"
	IDS_MESSAGE "Message"

	IDS_SETTINGS_EXCLUDE "Exclude"

	IDS_RESET "Reset"
	IDS_SAVE "Save"
	IDS_CLOSE "Close"

	IDS_ALWAYSONTOP_CHK "Always on top"
	IDS_USEDARKTHEME_CHK "Use dark theme"
	IDS_STARTMINIMIZED_CHK "Start minimized"
	IDS_SHOWTRAYPOPUP_CHK "Show tray popup"
	IDS_ENABLEHIGHLIGHTING_CHK "Enable highlighting"
	IDS_CHECKUPDATES_CHK "Periodically check for updates (recommended)"

	IDS_STATUS "Total items"

	IDS_ERROR_DUPLICATE L"Unable to capture messages. Only one debugger can be in the system at a time."

	IDS_STATUS_NEWMESSAGE L"New debug message incoming."

	IDS_QUESTION_CLEAN "Do you really want to clear list?"
	IDS_QUESTION_DELETE "Delete selected item(s)?"
}

//
// Icon resources
//
IDI_MAIN		ICON		"res\\100.ico"
IDI_INACTIVE	ICON		"res\\101.ico"

//
// Manifest resource
//
1			RT_MANIFEST		"res\\manifest.xml"

//
// Version Information resources
//
1 VERSIONINFO
FILEVERSION		APP_VERSION_RES
PRODUCTVERSION	APP_VERSION_RES
FILEOS			VOS__WINDOWS32
FILETYPE		VFT_APP
FILESUBTYPE		VFT2_UNKNOWN
FILEFLAGSMASK	0x00000000
FILEFLAGS		VS_FF_PATCHED | VS_FF_PRERELEASE
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904E4"
		{
			VALUE "Comments", APP_COMMENT
			VALUE "CompanyName", APP_AUTHOR
			VALUE "FileDescription", APP_NAME
			VALUE "FileVersion", APP_VERSION
			VALUE "InternalName", APP_NAME_SHORT
			VALUE "LegalCopyright", APP_COPYRIGHT
			VALUE "OriginalFilename", APP_NAME_SHORT ".exe"
			VALUE "ProductName", APP_NAME
			VALUE "ProductVersion", APP_VERSION
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0409, 1252
	}
}
